<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><%= link_to "Songs", songs_url %></li>
    <li><%= link_to "Artists", artists_url %></li>
    <li><%= link_to "Genres", genres_url %></li>
  </ul>
</div>