<h1>Editing Song</h1>

<div>
  <%= render 'form' %>
</div>

<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Show', @song %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', songs_path %>
  </button>
</div>
