<br><br>
<h1 class="text-center"><%= fa_icon('headphones', text: 'Music') %></h1>

<br><br><br><br>
<p class="text-center">This is a fake app to keep track of all your music.</p>
<p class="text-center">Developed in the beautiful city of New Orleans, we have any kind of app you could ever need!</p>
<br><br><br><br><br><br><br><br><br>
<p> </p>