<div class="row" id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav text-center">
      <%= link_to fa_icon('list lg', text: 'All Vets'), vets_path, class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('eye lg', text: 'Show Vet'), @vet, class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('trash-o', text: 'Delete Vet'), @vet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-sm" %></td>
    </ul>
  </div>



  <div class="col-xs-12">
    <h1>Editing Vet</h1>

    <%= render 'form' %>
  </div>
</div>


