<div class="row" id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav text-center">
      <%= link_to fa_icon('list lg', text: 'All Dogs'), dogs_path, class: "btn btn-info btn-sm" %>
    </ul>
  </div>



  <div class="col-xs-12">
    <h1>New Dog</h1>

    <%= render 'form' %>
  </div>
</div>