<h1>Editing Artist</h1>

<div>
  <%= render 'form' %>
</div>

<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Show', @artist %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', artists_path %>
  </button>
</div>
