<p>
  <h3><%= @artist.name %></h3>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre.try( :genre ) %>
</p>

<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Edit', edit_artist_path(@artist) %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', artists_path %>
  </button>
</div>
