<div class="container-fluid text-center text-top">
  <header class="jumbotron">
      <h1>Welcome to<br>Chateau Bow-Wow</h1>
  </header>
  <footer>
    <div class="col-sm-6 text-center">
      <br><br>
      <p>
        7989 Bunny Friend St.<br>
        New Orleans, LA 70117<br>
        <br>
        <%= fa_icon('phone lg') %> : (504) 342-8493<br>
      </p>
      <br><br>
    </div>
    <div class="col-sm-6 text-center">
      <br><br>Like this app?<br>
      Check us out on<br><a href="http://twitter.com/improv42" target="_blank"><%= fa_icon 'twitter lg' %></a><br><br>
    </div>
  </footer>
</div>