<h1>Editing Genre</h1>

<div>
  <%= render 'form' %>
</div>

<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Show', @genre %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', genres_path %>
  </button>
</div>
