<h3>Artists in <span class="text-primary"><%= @genre.genre %></span></h3>

<ul>
  <% @genre.artists.each do |artist| %>
    <li><%= artist.name %></li>
  <% end %>
</ul>


<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Edit', edit_genre_path(@genre) %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', genres_path %>
  </button>
</div>