<p>
  <h3><%= @genre.genre %></h3>
</p>

<div>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Edit', edit_genre_path(@genre) %>
  </button>
  <button type="button" class="btn-small btn-default">
    <%= link_to 'Back', genres_path %>
  </button>
</div>