<h1>The Most Rockin' Doggie Daycare</h1>
<p>Founded in 2015, we've been the premier doggie daycare in the whole tri-state area for several days now.</p>

<%= link_to "Back to Doggie Daycare", welcome_index_path, class: "btn btn-info btn-sm" %>